.post {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 2em;
  width: 60em;
  background-color: #456882;
  border-radius: 25px;
  color: white;
}

.posts {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  gap: 2em;
}

.adminRow {
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  color: white;
}

.adminLink {
  color: red;
}

.message {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.button {
  text-decoration: none;
  width: 6em;
  border-radius: 5px;
  background-color: #F9F3EF;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 0.2em 0;
  border: none;
  color: black;
}

.title {
  color: #D2C1B6
}